.Tech-Inc
	{
		
	}

.header
	{
		background-color: #f1f3f2;
		border:px solid grey;
	}

.logo
	{
		text-align: center;
	}

.img-logo
	{
		margin-left: 30px;
		width:100%;	
	}

.slogan
	{
		float: left;
		font-family: arial narrow;
		margin-top: 20px;

	}

.slogan1
	{
		color: black;
	}

.slogan2
	{
		color: #850404;
	}

.menu
	{
		font-family: arial narrow;
		font-size: 15px;
		text-align: center;
		margin-top: 16px;
	}

.menu1
	{
		font-size: 15px;
		float: left;
		font-family: arial narrow;
		float: right;
	}
/********************************************INSCRIPTION***************************************************************/
/**********************************************DEBUT HEADER ACCEUIL******************************************************************/

.header-acceuil
	{
		background-color: #f1f3f2;
		border:px solid grey;
		font-family: arial narrow;
	}

.logo-acceuil
	{
		text-align: center;
	}

.img-logo-acceuil
	{
			
	}

.slogan-acceuil
	{
		float: left;
		font-family: arial narrow;
		margin-top: 20px;

	}

.slogan1-acceuil
	{
		color: black;
	}

.slogan2-acceuil
	{
		color: #850404;
	}

.menu1-acceuil
	{
		margin-left: 20px;
		font-size: 15px;
		margin-top: 15px;
	}

.menu2-acceuil
	{
		margin-top: 15px;
	}
/******************************************************************FIN HEADER ACCEUIL***********************************************/

.formulaire
	{
		font-family: arial narrow;
		color: #850404;
		font-size:15px;
		margin-top: 50px;
		margin-right: 44px;	
	}

.head-inscription
	{
		text-align: center;	
	}

.title-inscription
	{
		color: #850404;	
	}

.b
	{
		margin-top: 50px;
		text-align: center;	
	}

.v
	{
		width: 75%;
		margin-top: 80px;	
	}

.footer
	{
		background-color: #f1f3f2;
		font-family: arial narrow;	
	}

.bloc
	{
		margin-top: 20px;	
	}

.blocf
	{
		text-align: center;
		font-size: 20px;
		font-style: bold;
		color: #850404;	
	}

.bloc1
	{
		margin-left: 90px;	
		margin-top: 10px;
	}

.bloc2
	{
		margin-left: 20px;	
		margin-top: 5px;
	}

.bloc3
	{
		margin-left: 70px;	
		margin-top: 10px;
	}

.bloc4
	{
		margin-left: 80px;
	}

.bf
	{
		margin-top: 10px;
	}

.p-footer
	{
		color: #850404;	
	}

.facebook
	{
		color: blue;
	}

.twitter
	{
		color: #93f3f3;;	
	}

.linkedin
	{
		color: blue;	
	}

.whatsapp
	{
		color: #43a543;	
	}

.icon
	{
		color: #153575;	
	}

.row2
	{
		text-align: center;
		margin-top: 30px;
		list-style: none;	
	}